@font-face {
    font-family: 'mephisto';
    src: url('https://legacyofmordalus.github.io/campaign/css/fonts/mephisto-webfont.woff2') format('woff2'),
         url('https://legacyofmordalus.github.io/campaign/css/fonts/mephisto-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
